<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <title>LazyDoc</title>
</head>

<body>
    <nav class="navbar">
        <a href="."><img class="logo" src="../static/logo.png" alt="logo"></a>
        <div class="links">
            <h2><a href="/howto">How To</a></h2>
            <h2><a href="/pricing">Pricing</a></h2>
            <h2><a href="/about">About Us</a></h2>
            <h2><a target="_blank" href="https://github.com/theFellandes/LazyDocExtension">Extension</a></h2>
            <div><a target="_blank" href="https://github.com/theFellandes/SourceCodeAnnotator"><img class="github"
                        src="../static/github.png" alt="github logo"></a></div>
        </div>
    </nav>
    <div class="content">
        <div class="source-code-section">
            <h3 style="color: #88ff20;">Source Code</h3>
            <form id="inputForm" enctype="multipart/form-data" method="POST" action="/lazydoc" style="min-height: 0px;">
                <label for="language">Language:</label>
                <select name="language" id="language">
                <option value="java">Java</option>
                <option value="py">Python</option>
                </select>
                <textarea spellcheck="false" name="sourceText" id="sourceText" cols="80" rows="35"
                    style="height: 100%;">
{% if sourceText %}{{sourceText}}{% else %}package com.company;
 
public class myClass extends baseClass {
 
    public static void main(String[] args) {
        System.out.println("Hello");
        printWorld();
    }
 
    public static int function(int param1) {
        super.myFunction();
        int bruh = param1 + 5 + 10;
        int bruh2 = param1;
        return 10;
    }
 
    public static String getWorld(int demo, int demo2){
        String world = "Hello" + "World";
        String bruh = world + "bruh";
        int myInt = 0;
        myInt += demo;
        myInt = demo2;
    }
}{% endif %}</textarea>
            </form>
            <div>
                <input type="file" name="sourceCode" id="fileUpload" style="display:none;">
                <label style="background-color: #FE7D87;" for="fileUpload" class="button">Choose File</label>
            </div>
        </div>
        <div class="middle-section">
            <div style="background-color: #AFF218;" class="button" id="lazyDocButton">Annotate With LazyDoc</div>
            <div style="background-color: #F4AFCA;" class="button" id="chad">Annotate With ChadGPT</div>
        </div>
        <div class="output-section">
            <h3 style="color: #fff67b;">Annotated Output</h3>
            <form id="outputForm" enctype="multipart/form-data" method="POST" action="/download" style="min-height: 0px;">
                <textarea spellcheck="false" name="sourceOutput" id="sourceOutput" cols="80" rows="35" style="height: 100%;">
{% if sourceOutput %}{{sourceOutput}}{% else %}package com.company;
 
/**
* myClass
* Inherits from baseClass
* Has 2 method(s)
* Has 0 attribute(s)
*/
public class myClass extends baseClass {

    public static void main(String[] args) {
        System.out.println("Hello");
        printWorld();
    }

    /**
	* Calls parent's myFunction method. Initializes bruh with param1 + 5 + 10, bruh2
	* with param1. Returns 10.
	*
	* @param param1 is used to find bruh, bruh2
	*/
	public static int function(int param1) {
        super.myFunction();
        int bruh = param1 + 5 + 10;
        int bruh2 = param1;
        return 10;
    }

    /**
	* Initializes world with "Hello" + "World", bruh with world + "bruh", myInt with 0.
	* Increments myInt by demo. Assigns demo2 to myInt.
	*
	* @param demo is used to find myInt
	* @param demo2 is used to find myInt
	*/
	public static String getWorld(int demo, int demo2){
        String world = "Hello" + "World";
        String bruh = world + "bruh";
        int myInt = 0;
        myInt += demo;
        myInt = demo2;
    }
}{% endif %}</textarea>
            </form>
            <div style="background-color: #87DBDD;" class="button" id="downloadButton">Download</div>
        </div>
    </div>
</body>

</html>