{% extends 'baseline.html' %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="card-title">Basic</div>
                <div class="card-credits">100 Credits</div>
                <div class="card-info">Valid for 30 days<br>4 credits/$</div>
                <div class="card-deal">Great For Starters!</div>
                <div class="card-button" style="background-color: #5BA6EB;">$25/month</div>
            </div>
            <div class="card">
                <div class="card-title">Premium</div>
                <div class="card-credits">200 Credits</div>
                <div class="card-info">Valid for 30 days<br>4 credits/$</div>
                <div class="card-deal">Best Deal!</div>
                <div class="card-button" style="background-color: #AFF218;">$50/month</div>
            </div>
            <div class="card">
                <div class="card-title">Enterprise</div>
                <div class="card-credits">500 Credits</div>
                <div class="card-info">Valid for 30 days</div>
                <div class="card-enterprise-support">7/24 Enterprise Support*</div>
                <div class="card-button" style="background-color: #E81A0C;">$200/month</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}