<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LazyDoc</title>
</head>
<body>
    <h1>Source Code Annotator</h1>
    <form id="source_code_form" enctype="multipart/form-data" method="post" action="#">
        <label for="source_code_text"></label><textarea id="source_code_text" name="source_code_text"></textarea>
        <br>
        <input type="submit" value="submit" id="submit" />
        <br>
        <input id="fileupload" name="source_code" type="file" accept=".java,.py"/>
        <br>
        <input type="submit" value="submit" id="submit" />
    </form>
</body>
</html>